<div class="max-w-2xl p-5 bg-slate-100 rounded-md">
  <%= simple_form_for [@list.family, @list] do |f| %>
    <%= f.input :list_type, as: :radio_buttons, wrapper: :vertical_collection_inline, collection: [:groceries, :to_do] %>
    <%= f.input :name %>
    <%= f.button :submit %>
  <% end %>
</div>
