<div class="flex flex-col justify-between md:flex-row md:items-center">
  <%= render partial: 'shared/page_name', locals: { title: t('.title') } %>
</div>

<div class="mt-8">
  <div class="max-w-2xl p-5 bg-secondary-500 rounded-md">
    <%= render "form", family: @family %>
  </div>
</div>
