<header class="w-full bg-primary-500">
  <div class="p-4 h-full flex items-center gap-4">
    <button data-action="click->menu#toggle" type="button" class="text-white md:hidden focus:outline-none" aria-label="toggle menu">
      <svg data-menu-target="burger" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4 8h16M4 16h16" />
      </svg>

      <svg data-menu-target="cross" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>

    <div class="flex items-center justify-end w-full">
      <div class="flex items-center">
        <div class="relative flex items-center">
          <%= link_to edit_user_path(current_user), class: "flex items-center" do %>
            <div>
              <p class="hidden md:block mr-2 text-xs text-white"><%= current_user.name %></p>
              <p class="hidden md:block mr-2 text-xs text-white"><%= current_user.email %></p>
            </div>
            <div role="button" tabindex="0" class="select-none">
                <div class="w-8 h-8 rounded-full overflow-hidden">
                  <%= user_avatar(current_user) %>
                </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</header>
