<div class="flex flex-col gap-4">
  <!-- <% link_to '#', class:"flex gap-2" do %>
    <svg class="w-6 h-6 md:w-12 md:h-12" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5"></path>
    </svg>
    <p><%= "link_name" %></p>
  <% end %> -->
  <div>
    <h1 class="text-2xl text-white font-extrabold lg:text-3xl"><%= title %></h1>
  </div>
</div>
